:root {
	/* Animation Duration Variables */
	--bg-fade-duration: 5s;
	--fade-in-duration: 1s;
	--scale-up-duration: 10s;
	--rotate-duration: 100s;
	--scale-duration: 13s;
	--pulse-duration: 3s;
	--bending-light-w-glow-fade-in-duration: 9s;
	--slide-up-duration: 8s;
}

/* Global Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body and HTML Styles */
html,
body {
	width: 100%;
	height: 100%;
}

body {
	background-color: black;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 100px;
	overflow: hidden;
}

.bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url('bg-small.webp');
	background-size: cover;
	z-index: -1;
	opacity: 0.01;
	animation: bgFade var(--bg-fade-duration) ease-in-out forwards;
}

@media (min-width: 1024px) {
	.bg {
		background-image: url('bg-large.webp');
		width: 100%;
		height: 100%;
	}
}

/* Logo Styles */
.logo {
	width: 100%;
	max-width: 1100px;
	height: 0;
	padding-bottom: 37%;
	position: relative;
	animation: fadeIn var(--fade-in-duration) ease-in-out, scaleUp var(--scale-up-duration) ease-in-out forwards;
	transform: scale(0.7);
}

@media (min-width: 1200px) {
	.logo {
		padding-bottom: 24%;
	}
}

/* Mask Container Styles */
.mask-container {
	mask: url('bending-light.svg') no-repeat center;
	-webkit-mask: url('bending-light.svg') no-repeat center;
	mask-size: contain;
	-webkit-mask-size: contain;
	width: 90%;
	max-width: 1200px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.mask-container img.universe {
	animation: rotate var(--rotate-duration) infinite linear;
	width: 200%;
	filter: grayscale(100%) contrast(200%);
}

@media (min-width: 1024px) {
	.mask-container img.universe {
		animation: rotate calc(var(--rotate-duration) * 2) infinite linear;
	}
}

/* Bending Light with Glow Styles */
.bending-light-w-glow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 1200px;
	height: auto;
	z-index: -1;
	animation: pulse var(--pulse-duration) infinite, bendingLightWGlowFadeIn var(--bending-light-w-glow-fade-in-duration) ease-in-out;
}

/* Call to Action Styles */
.cta {
	color: #808492;
	font-size: 16px;
	line-height: 1.3;
	text-align: center;
	animation: fadeIn var(--fade-in-duration) ease-in-out;
	font-family: 'Arial', sans-serif;
}

@media (min-width: 1024px) {
	.cta {
		font-size: 19px;
		line-height: 1.5;
	}
}

/* Social Media Container Styles */
.social-media-container {
	width: 100%;
	animation: slideUp var(--slide-up-duration) ease-in-out;
	z-index: 1;
}

.social-media {
	display: flex;
	justify-content: center;
}

.social-media a {
	margin: 0 10px;
	transition: transform 0.2s;
}

.social-media a:hover {
	transform: scale(1.1);
}

.social-media svg {
	width: 40px;
	height: 40px;
	fill: #94A8FB;
	transition: fill 0.2s;
}

social-media a:hover svg {
	fill: #ced8ff;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

/* Keyframes */
@keyframes bgFade {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	60% {
		opacity: 0.1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes scale {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.6);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes slideUp {
	0% {
		transform: translateY(40px);
		opacity: 0;
	}

	90% {
		transform: translateY(40px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes pulse {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

@keyframes scaleUp {
	0% {
		transform: scale(0.7);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes bendingLightWGlowFadeIn {
	0% {
		opacity: 0;
	}

	30% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}